.container {
    /* AJUSTE: Aumenta a margem inferior em telas menores */
    margin-bottom: 140px; 
}

@media (max-width: 550px) {
    /* Flutuantes */
    .floating-card {
        right: 20px;
        bottom: 140px; 
        width: 90vw; 
    }
    
    .floating-btn {
        right: 20px;
        bottom: 80px; 
    }
    
    /* REFACTOR DO CARD DE RESUMO (SALDO) */
    .balance-header {
        /* Empilha Título, Inputs e Total verticalmente */
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    .balance-header h2 {
        width: 100%;
        text-align: left;
        order: 1;
    }
    
    .balance-inputs-container {
        /* Inputs usam 100% da largura e ficam empilhados */
        flex-direction: column;
        width: 96%; 
        order: 2;
    }

    .balance-item {
        /* Garante que cada input ocupe a largura total */
        min-width: unset; 
        width: 95%;
    }
    
    .balance-total-display {
        /* Saldo Final no final, alinhado à esquerda */
        width: 100%;
        text-align: left;
        order: 3;
    }
    /* FIM DA REFACTORIZAÇÃO DO RESUMO */
    
    /* Formulário de Adição de Gasto */
    .form-grid {
        /* Garante que o formulário flutuante empilhe seus campos */
        grid-template-columns: 1fr;
    }
    
    .form-grid .form-group input, 
    .form-grid .form-group select {
        padding: 12px 2px;
    }

       
      /* Ajustando o padding do .floating-card: */
    .floating-card {
        right: 20px;
        bottom: 140px; 
        width: 90vw; 
        padding: 24px 15px; 
    }

    /* Ações da Tabela */
    .table-actions {
        /* Botões de ação da tabela ficam empilhados */
        flex-direction: column;
        gap: 8px;
    }
    
    /* Barra de Ações de Seleção Flutuante */
    .selection-actions {
        /* Empilha a informação e o botão na barra flutuante */
        flex-direction: column;
        align-items: stretch;
    }
    .selection-info {
        text-align: center;
    }
    #removeSelectedBtn {
        width: 100%; /* Botão de exclusão ocupa a largura total */
    }
}